body {
  color: white;
  background-image: url("../img/bkg_img.jpg");
}


.jumbotron {
  text-align: center;
  color: white;
  background-color: black;
}


.container {
  margin-bottom: 10%;
}

.solution {
  font-size: 24px;

}

.vertical-align {
    display: flex;
    align-items: center;
}


.btn-success {
  margin: 1%;
}

.amount-butt {
  margin-top: 10px;;
}

select{
  color:black;
  margin-bottom: 6%;
}

input {
  color: black;
  margin-bottom: 6%;
}
